<head>
  <link rel="stylesheet" href="app.component.css">
</head>

<div class="navbar">
  <span class="app-title">My Chat App</span>
  @if (authService.currentUserSign()==null){
    <div class="auth-links">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  }
  @if (authService.currentUserSign()){
    <div class="auth-links">
      <span (click)="logout()">Logout</span>
    </div>
  }
  </div>
  @if (authService.currentUserSign()){
  <div class="content">
    <header class="chat-header">
      Hello, {{authService.currentUserSign()?.username}}
    </header>
    <main class="history">
    <ng-container *ngFor="let item of chatHistory">
      <div>
        <i class="fa" 
        [ngClass]="{'fa-user-circle user-query': item.from==='user','fa-graduation-cap user-query':item.from==='bot'}"></i>
      <span class="response {{ item.from === 'bot' ? 'bot-response' : 'user-query' }}">{{item.massage}}</span>
      @if(item.from=='bot'){
      @if(item.error==="NaN"){
          @if(item.type=="hide" && item.col!=='NaN'){
         <span>{{col}} column removed successfully.</span>
         <table border="1">
          <thead>
            <tr>
              <th *ngFor="let col of item.col">{{ col }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of item.data">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </tbody>
        </table>
          }
          @else if(item.type=="show"&& item.col!=='NaN'){
           <span>Displaying {{col}} column...</span> <br>
           <table border="1">
            <thead>
              <tr>
                <th *ngFor="let col of item.col">{{ col }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of item.data">
                <td *ngFor="let cell of row">{{ cell }}</td>
              </tr>
            </tbody>
          </table>
             }
      }
      @else if(item.error!=="NaN" || item.col==='NaN'){<span class="response bot-response">{{item.error}}</span>}
    }
      </div>
    </ng-container>
    </main>
    <footer class="chat-input">
      <input type="text" (keyup.enter)="sendData()" id="message-input" placeholder="Enter your prompt here..." [(ngModel)]="prompt" [disabled]="loading" autocomplete="off"/>
      <button id="send-button" (click)="sendData()" [disabled]="loading">Send</button>
    </footer>
  </div>
  }
<router-outlet></router-outlet>
